/* font style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Copa America  header*/
header{
    background-color: #10437A;
    width: 100%;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%
}
.banner-details{
    color: white;
    width: 80%;
    padding: 40px 0%;
    margin: 20px
}

.banner-details h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: -20px;
}
.banner-details a{
    font-family: sans-serif;
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 5px 10px;
}
.banner-details a:hover{
    background-color: yellow;
    transition: 0.9s;
    color:black; 
}
.banner_image{
    height: 335px;
    width: 80%;
    padding: 40px 0%;
    margin: 2px;
}
.banner_image img{
    height: 100%;
}

/* -------about players------- */

.about-players{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-row-gap: 10px;
}
.card{
background-color: whitesmoke;
width: 330px;
margin-left: 40px;
margin-top: 40px;
border-radius: 0px;
padding: 15px; 
margin-left: 25px;   
}
.card-details img{
    height: 256px;
    width: 300px; 
    margin: 15px;
    
}
.card-title{
    margin: 15px;
}
.card-title h1{
    width: 300px;
    height: 40px;
    margin-top: -30px;
}

.card-title p{
    width: 300px;
    height: 104px;   
}
/* ---------video album ------------- */
.video_album{
    width: 90%;
    padding: 10px 5%;
    display: grid;
    justify-content: center;
    background-color: white;
}
.video_album h1{
    padding: 50px 5%;
    display: grid;
    justify-content: center;
    color: black;
    font-size: 50px;
}
.video{
    height: 315px;
    width: 560px;
    overflow-y: scroll;
    overflow-x: hidden;
} 

/* ---------contact section------------- */
.contact{
    width: 90%;
    padding: 30px 5%;
    display: grid;
    justify-content: center;
    background-color: whitesmoke;
}
.contact h1{
    padding: 20px 5%;
    display: grid;
    justify-content: center;
    color:black;
    font-size: 50px;
}
.contact input{
    border: 1px solid black;
    font-size: 20px;
    margin: 5px 0;
    border-radius: 15px;
}
.contact textarea{
    border: 1px solid black;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 35px
}
.contact button{
    border: 1px solid black;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: tomato;
}
.contact button:hover{
    cursor: progress;
    background-color: yellow;
    transition: 0.9s;
}

/* ------footer---- */

footer{
    width: 100%;
    height: 200px;
    margin: 30px 0;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 350px;
    height: 150px;
}
.social-icon{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}
.social-icon a{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.copyright{
    color: black;
    text-align: center;
    font-size: 20px;
}

/* -----Media query----- */

/* Mobile Device */
@media (max-width: 688px) {
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    .about-players{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
 
}